<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临</title>
</head>
<body>
{#    显示字符串#}
    {{ name }}
{#    显示list中元素#}
    <ul>
    {% for i in list1 %}
        <li>
            {{ i }}
        </li>
        {% empty %}
        <li>抱歉，列表为空</li>
    {% endfor %}
    </ul>
{#    1.for显示字典中key value#}
    {% for i,j in dic.items %}
        <a href="{{ j }}" target="_blank">{{ i }}</a>
    {% endfor %}
{#    2.获取变量形式显示字典中key value#}
    购物地址：{{ dic2.key }}  网站：<a href="{{ dic2.value }}" target="_blank">点我</a>
{#在模板进行 条件判断和 for 循环的详细操作#}
    {% for i in a %}
        {{ i }}{% if forloop.first %},
        {% endif %}
    {% endfor %}
{% url 'home' 2 9 %}
</body>
</html>